<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png"
        href="https://firebasestorage.googleapis.com/v0/b/mbwproject-78d38.appspot.com/o/Logo.png?alt=media&token=de0aac26-de6a-43c0-839d-9032323646cd&_gl=1*15y48q1*_ga*MTg1NDY0MDk2OC4xNjk2MzM4MjQ3*_ga_CW55HF8NVT*MTY5NjMzODI0Ny4xLjEuMTY5NjMzODYxNy40NC4wLjA." />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <title>Rotten Bananas - Add_movie</title>
    <!-- nav -->
    <link rel="stylesheet" href="/stylesheets/navAdmin.css">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

</head>

<body>
    <%- include('../partials/navAdmin.ejs') %>
        <div class="main-content ">
            <div class="container-main">
                <div class="headad">
                    <h1>เพิ่มภาพยนตร์</h1>
                </div>
                <!-- <div class="Uploadimg">
                    <img src="" alt="โปสเตอร์" id="img-preview" class="img">
                    <input type="text" id="upload" hidden accept=".png,.jpg">
                    <label for="upload" class="upimg">
                        อัปโหลดรูปภาพ
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-upload" width="24"
                            height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path>
                            <path d="M7 9l5 -5l5 5"></path>
                            <path d="M12 4l0 12"></path>
                        </svg>
                    </label>
                </div> -->


                <div class="infor">
                    <form action="/admin/createMovie" method="post">
                        <input type="text" id="namemovie" name="title" placeholder="ชื่อภาพยนตร์">
                        <select class="form-select" name="type" aria-label="Default select example">
                            <option selected hidden>ประเภทภาพยนตร์</option>
                            <option value="การตูนอนิเมชั่น (Animation)">การตูนอนิเมชั่น (Animation)</option>
                            <option value="นิยายเหนือจริง (Fantasy)">นิยายเหนือจริง (Fantasy)</option>
                            <option value="แอ็คชั่น (Action)">แอ็คชั่น (Action)</option>
                            <option value="ตลก (Comedy)">ตลก (Comedy)</option>
                            <option value="ชีวิต (Drama)">ชีวิต (Drama)</option>
                            <option value="หนังผี (Horror)">หนังผี (Horror)</option>
                            <option value="7">นวนิยายวิทยาศาสตร์ (Sci-fi)</option>
                            <option value="8">รักโรแมนติก (Romance)</option>
                        </select>
                        <textarea name="detail" placeholder="รายละเอียดภาพยนตร์"></textarea>
                        <input type="text" name="imgM"placeholder="โปสเตอร์">
                        <input type="text" id="yearmovie" class="yearmovie" name="year" placeholder="ปีที่ฉาย">
                        <button type="submit">ยืนยัน</button>
                    </form>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"></script>
            <script>
                // const input = document.querySelector("#upload");
                // const img = document.querySelector("#img-preview");

                // input.addEventListener("change", () => {
                //     if (input.files.length > 0) {
                //         img.src = URL.createObjectURL(input.files[0]);
                //     } else {
                //         img.src = "";
                //     }
                // });
            </script>

</body>

</html>