
    <style>
        /* all */
        @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap');

        * {
            font-family: 'IBM Plex Sans Thai', sans-serif;
        }

        img.bnnwht {
            width: 30%;
        }

        a.send{
            color:#EBCC00;
            font-weight: bolder;
            text-decoration: none;
        }

        a.send:hover{
            color: #ffffff;
        }
    </style>


<body>
    <div class="p-0 m-0 mt-5 border-0 bd-example bd-example-row">
        <!-- Footer -->
        <footer class="text-center  text-white" style="background-color: #000000">
            <div class="container p-4 pb-0">
                <section>
                    <div class="row">
                        <div class="col-md-8 col-lg-8 col-xl-8 mx-auto mt-3">
                            <img src="https://firebasestorage.googleapis.com/v0/b/mbwproject-78d38.appspot.com/o/Rottenwhite.png?alt=media&token=56b6d6aa-9bf8-4bf0-92e5-358dd3fe0e0f&_gl=1*3ctddr*_ga*MTg1NDY0MDk2OC4xNjk2MzM4MjQ3*_ga_CW55HF8NVT*MTY5NjQ0NTY4OC4xMC4xLjE2OTY0NDYwODYuNTIuMC4w"
                                alt="Rotten banana" class="bnnwht">
                            <p>
                                Rotten Bananas เป็นเว็บไซต์ review ภาพยนตร์
                            ที่เปิดให้ทุกคนที่เป็นคอหนังทุกประเภทได้มาหาข้อมูลเกี่ยวกับภาพยนตร์ เหมาะสำหรับคนที่ไม่รู้ว่าจะดูหนังเรื่องนั้น ๆ ดีไหม 
                            ช่วยคุณตัดสินใจ enjoy bananater!
                            </p>
                        </div>

                        <hr class="my-3">

                        <section class="p-3 pt-0">
                            <div class="row d-flex align-items-center">
                                <div class="col ">
                                    <div class="p-3">
                                        © 2023 Copyright: Rotten Bananas
                                    </div>
                                </div>

                            </div>
                        </section>
                    </div>
                </section>
            </div>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
