<nav>
    <input type="checkbox" id="menu-toggle" >
    <div class="sidebar">
        <div class="side-header">
            <h2>R<span>otten bananas</span></h2>
        </div>
        <div class="side-content">
            <div class="profile">
                <h5>เจ้าหน้าที่</h5>
                <div class="profile-img" style="background-image: url(https://i.pinimg.com/236x/18/18/5b/18185b5e470563a090bc67d973ac3ae0.jpg);"></div>
                <h3>Bananas_RT</h3>
            </div>
    
            <div class="side-menu">
                <ul>
                    <li>
                        <a href="/admin">
                            <span class="las la-home active"></span>
                            <small>Home</small>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/manageUser">
                            <span class="las la-user-friends"></span>
                            <small>จัดการสมาชิก</small>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/manageMovie">
                            <span class="las la-film"></span>
                            <small>จัดการภาพยนตร์</small>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/manageNew">
                            <span class="las la-newspaper"></span>
                            <small>จัดการข่าว</small>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sb-sidenav-footer">
                <a class="nav-link" href="/logout">ออกจากระบบ</a>
            </div>
        </div>
        
        
    </div>
    <div class="main-content">
        
       
    </div>
</nav>
