@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap');

* {
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

h1 {
    text-align: center;
    margin: 50px;
    font-weight: bolder;
}

.headad {
    text-shadow: 0px 5px 4px #c4c2c2;
    margin: 0 20px;
}

้ h1 h4 {
    font-weight: bold;
}

h4 {
    margin-left: 60px;
}

.table_p {
    height: 500px;
    overflow-y: scroll;
    margin: 50px;
    position: relative;
    margin-bottom: 150px;
    border-radius: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
}

th {
    border-bottom: 1px solid #000;
    border-width: 5;
}


th,
td {
    text-align: left;
    padding: 20px;
}

tr {
    background-color: #FFE793;
}



#id {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    width: 200px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

/* addtmovie */


.add {
    position: absolute;
    right: 0;
    bottom: -100px;
    margin-bottom: 50px;
    margin-right: 50px;
    color: #FFD643;
}

.custom-file-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 50%;
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 40px auto;
}

.custom-file-upload svg {
    margin-bottom: 10px;
}

.infor {
    width: 70%;
    padding: 90px 100px;
    margin: 50px auto;
    background-color: #FFE793;
    border-radius: 20px;

}


input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
}

.form-select {
    border-radius: 15px;
    color: rgba(111, 108, 108, 0.795);
    padding: 12px;
}

textarea {
    width: 100%;
    height: 150px;
    margin: 10px 0;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 15px;
    color: rgba(111, 108, 108, 0.795);
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

#yearmovie {
    content: "";
    clear: both;
    display: table;
    width: 100px;
}

button[type=submit] {
    width: auto;
    background-color: #ffffff;
    color: #FFD643;
    padding: 14px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    float: right;
    margin-bottom: 20px;

}

button[type=submit]:hover {
    background-color: #e6d59b;
    color: #000000;
}

/* addtmovie */

/* editmovie */
.editimg {
    display: flex;
    justify-content: center;
    margin: 40px auto;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    height: 500px;
    width: 400px;
}

.bananater {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.bananater #score {
    width: 100;
}

label {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

/* editmovie */
/* feedback */
.content {
    background-color: #FFE793;
    padding: 20px;
    margin: 0 auto;
    width: 80%;
    border-radius: 10px;
}

.content1 {
    display: inline-flex;
    align-items: center;
    margin: 0 10px;
}

.feedimg {
    width: 65px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

p {
    margin: 0 50px;
    overflow-wrap: break-word;
}

/* feedback */