body {
    padding: 0 !important;
    margin: 0 !important;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .main-pic {
    margin-top: 50px;
    width: 450px;
    height: 350px;
    margin-bottom: 30px;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #000;
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    width: 70%;
    line-height: normal;
    margin-bottom: 20px;
    margin: 0px auto;
}

.content-1 p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    padding-top: 1px;
    color: rgba(0, 0, 0, 0.42);
    font-family: Inter;
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;

}

.content-2 p{
    align-items: center;
    justify-content: center;
    color: #000;
    font-family: IBM Plex Sans Thai;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    padding-top: 40px;
    padding-left: 150px;
    padding-right: 150px;
}